body{
    background-color: #a2a2a2;	
    margin: 0;
}

div {
    width: 960px;	
    margin: 0px auto;
    background-color: #ffffff;
    padding-bottom: 20px;	
}

#menu1 {	
    float: left;	
    width: 100%;	
    padding: 0;	
    margin: 0 0 1em 0;	
    list-style-type: none;
    background-color: #000;	
}
#menu1 li { display:inline }	
			
#menu1 a {
  float:left;
  padding: 0.25em 1em;	
  margin: 0.25em 0 0.25em 1em;	
  color: #DDD;	
  text-decoration: none;	
}
#menu1 a:hover { background-color:red}	
p#bekezdes1 {		
    clear:left;		
}

#menu2 {	
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 1em 0;
    list-style-type: none;
    border-top: 0.25em dotted #b3b3b3;
    border-bottom: 0.25em solid #b3b3b3;
}
#menu2 li { display:inline }
#menu2 a {
  float:left;
  padding: 0.25em 1em;
  margin: 0.25em 0 0.25em 1em;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

p#bekezdes2 {		
    clear: left;		
    padding: 10px;	
    color: #FF0E00;	
    font-size: x-large;	
    font-weight: bold;	
    background-color: #EEE;	
}
p#bekezdes2 span {	
    color: #C0C0C0;	
}

p.bekezdes3 {	
    color: #C0C0C0;	
}

a#gomb {	
    color: #5C74C8;	
    padding: 3px 5px 1px 25px;	
    background: url("gombok.png") no-repeat 6px 6px #ECEEF5;
    border: 1px solid #CAD4E7;
    border-radius: 5px;		
    text-decoration: none;	
}

h2, p {		
    margin-left: 20px;
}
